<div id = "div_<%= @vtodo_a.id %>">
<li id = "item_<%= @count %>"  ondblclick="
<%= remote_function(:update => "div_#{@vtodo_a.id}".to_sym,
:url =>  edit_item_tag_tagged_vtodo_url(@stat, @vtodo_a), :method => :get
)%>">
   <div class="drag-handle"></div>
  <%= check_box( :vtodo_a, :status, {:class => "checkboxclass", :id => "check_#{@count}"}, 'done', '')  %>
  <%=h @vtodo_a.summary %><br />
  <div class="links"><%= show_tags_as_links(@vtodo_a) %>    
  </div>    
</li>
</div>
<%= observe_field "check_#{@count}".to_sym,
 :frequency => 0.1,
 :update => 'index_all',
:url =>  check_item_tag_tagged_vtodo_url(@stat, @vtodo_a), :method => :get %>


        
